<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>

    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- JavaScript (Popper.js and Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<h2>Edit Product</h2>

<!-- Form to add a product -->
<form id="formediting" th:action="@{save_edited_Product}" method="post" th:object="${producto}">
    <!-- Hidden input field for product ID -->
    <input type="hidden" th:field="*{id}" />

    <label for="description">Name:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" th:field="*{price}" required>
    <br>
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" th:field="*{quantity}" required>
    <br>
    <button type="submit">Edit Product</button>
</form>


<hr>

</body>
</html>
